<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="info" (ngSubmit)="submit(info)">
      <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" formControlName="name" ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Surname</ion-label>
          <ion-input type="text" formControlName="surname" ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" formControlName="age" ></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select placeholder="Select One" formControlName="gender" >
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-button color="primary" expand="full" shape="round" type="submit" [disabled]="info.invalid">Submit</ion-button>
  </form>

</ion-content>
